/* [?] My Time Organizer @ Google Apps Hackathon 12.11.2011 (11/12/2011)
 * [+] Authors: 
 * - Dominik Galewski (mug3tsu)
 * - Sebastian Krzyszkowiak (dos)
 * - Krzysztof Marciniak (hun7er)
 * [!] [alphabetical order]
 */

html { height: 100%;}

body {
	/*background-image: url("http://acrisdesign.com/wp-content/uploads/2010/01/49.jpg");
	background-repeat: 	repeat-x repeat-y;
	background-size: 25%;*/
	background-color: 	#dddddd;
	text-align: 		center;
	height: 100%;
	-webkit-user-select: none;
	min-width: 600px;
	margin: 0;
	padding: 30px;
	-webkit-box-sizing: border-box;
}

#border_table { 
	height: 		100%; /* height */
	width: 			100%;				 /* width */
	border: 		1px solid darkgrey;	 /* border */
	text-align: 		center;				 /* text-align */
	background-color: 	lightgray;			 /* bg color */
	border-radius: 		25px;
	padding: 		20px 20px 20px 20px;
	box-shadow: 		0px 0px 45px #999;
	-webkit-box-sizing: 	border-box;
}

@font-face {
	font-family: myFont;
	src: 		 url('daniel.ttf') format("truetype");
}

#add_panel {
	position: 					fixed; 
	left: 						0px;
	bottom: 					5%;
	width: 						300px;   /* THIS... IS... SPARTAAAAAAAA! */
	margin-left:				-300px;
	height: 					50px;
	padding-top: 				20px;
	padding-bottom: 			20px;
	padding-left: 				25px;
	-moz-box-shadow: 		 	0px 0px 45px #999;
	-webkit-box-shadow: 	 	0px 0px 45px #999;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: 			rgba(238,238,238,0.9);
	-webkit-transition: margin-left 0.3s ease-out;
	z-index: 1;
}

#panel_slider {
	width: 		25px;
	height: 	90px;
	float: 		right;
	margin-top: -20px;
}

#note_icon, #event_icon, #task_icon {
	cursor: 			move;
	height: 			35px;
	padding-top: 		15px;
	font-family:		Verdana;
	font-size:			12px;
	width: 				50px;
	background-color: 	#f0f000;
	box-shadow: 0px 0px 45px #999;
	float: 				left;
	text-align:			center;
	color:				#333333;
	margin-right: 		15px;
}

#note_icon[draggable=false], #event_icon[draggable=false], #task_icon[draggable=false] {
	opacity: 0.4;
}

#note_icon {
	background-color:       #f0f000;
}

#event_icon {
	background-color: 	#e00000;
}

#task_icon {
	background-color:	#00e000;
}

#add_panel img {
   margin-top: 38px; 
}

#settings_panel {
}

#outer_inner_table {
	height: 			100%;
	display: 			-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: 	center;
	-webkit-box-pack: 	center;
	-webkit-box-sizing: border-box;
	margin: 			auto;
	overflow: hidden;
}

#inner_table {
	height: 			100%;
	width: 100%;
	display: 			-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: 	center;
	-webkit-box-pack: 	center;
        -webkit-box-sizing: border-box;
	-webkit-transition: margin 0.75s ease-out;
	
	/*border: 17px solid lightgrey;
	border-right: 22px solid lightgrey;*/
}

nav {
	border-top: 1px solid darkgrey;
	border-bottom: 1px solid darkgrey;
	width: 			14.29%;
        -webkit-box-sizing: border-box;
	height: 		100%;
}

nav:first-child {
	border-left: 1px solid darkgrey;
}
nav:last-child {
	border-right: 1px solid darkgrey;
}

nav:nth-child(odd) {
	background-color: #eeeef4;
}

/* TO-DO: change hover color and enable on-hover background-color change */

/*nav:nth-child(odd):hover {
	background-color: #ffaaaa;
}
nav:nth-child(even):hover {
	background-color: #ffaaaa;
}*/

nav:nth-child(even) {
	background-color: 	#f4f4f4;
	border-left: 		1px dotted #BCBCBC;
	border-right: 		1px dotted #BCBCBC;
}

.header {
	width: 						100%;
	height: 					60px;
	padding-top: 				10px;
	text-align: 				center;
	background-color: 			#dddddd;
	border-bottom: 				1px dotted #BABABA;
	overflow: 					hidden;
}

nav .header h3 {
	font-family: 	Sans-Serif;
	margin-top: 	0;
	color: 			#777777;
	text-shadow: 	0px 0px 15px #999;
}

.day_content {
	width: 		100%;
	height: 100%;
        -webkit-box-sizing: padding-box;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 3px;
}

.day_content .note {
	width: 				100%;
	-webkit-box-sizing: border-box;
	padding-left: 		5%;
	padding-right: 		5%;
	padding-top: 		4%;
	padding-bottom: 	4%;
	border-top: 		1px dotted #BCBCBC;
	border-bottom:		1px dotted #BCBCBC;
	text-align:		 	justify;
	font-family: 		Verdana;
	font-size: 			0.7em;
	color: 				#333333;
	-moz-box-shadow: 	0px 0px 45px #999;
	-webkit-box-shadow: 0px 0px 45px #999;
	margin-bottom: 		4%;
	background-color: 	#f0f000;
	-webkit-user-select: text;
	-webkit-transition: background-color 0.75s, color 0.2s;
}

.day_content .note .note_content {
	min-height: 1em;
}

.menu {
	display: block;
	width: 100%;
	height: 0px;
	margin-top: 5px;
	margin-bottom: -3px;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all 0.25s ease-out;
	-webkit-user-select: none;
	/*background-color: #FF0000;*/
}

.note:hover .menu, .note[data-editedNow=true] .menu, .note[data-whileInColorPicker=true] .menu {
	height: 16px;
	opacity: 1;
}

.menu img {
	cursor: pointer;
	-webkit-transition: opacity 0.25s;
}

.menu img:hover {
	opacity: 0.75;
}

#current_day {
	background-color: #cfcfcf;
}

[contenteditable=true] {
	outline: 1px dotted #ccc;
	background-color: rgba(255,255,255,0.3);
}
