/* [?] My Time Organizer @ Google Apps Hackathon 12.11.2011 (11/12/2011)
 * [+] Authors: 
 * - Dominik Galewski (mug3tsu)
 * - Sebastian Krzyszkowiak (dos)
 * - Krzysztof Marciniak (hun7er)
 * [!] [alphabetical order]
 */

body {
	/*background-image: url("http://acrisdesign.com/wp-content/uploads/2010/01/49.jpg");
	background-repeat: 	repeat-x repeat-y;
	background-size: 25%;*/
	background-color: 	#dddddd;
	text-align: 		center;
	height: 			800px;
}

#border_table {
	height: 			60%;                 /* height */
	width: 				89.3%;				 /* width */
	border: 			1px solid darkgrey;	 /* border */
	margin: 			auto;				 /* margin */
	margin-top: 		5%;					 /* margin-top */
	text-align: 		center;				 /* text-align */
	background-color: 	lightgray;			 /* bg color */
	
	border-bottom-left-radius: 	25px 25px;
	border-top-left-radius: 	25px 25px;
	border-bottom-right-radius: 25px 25px;
	border-top-right-radius: 	25px 25px;
	padding: 					20px 24px 20px 20px;
	-moz-box-shadow: 			0px 0px 45px #999;
	-webkit-box-shadow: 		0px 0px 45px #999;
}



@font-face {
	font-family: myFont;
	src: 		 url('daniel.ttf') format("truetype");
}

#add_panel {
	position: 					fixed; 
	left: 						0px;
	bottom: 					5%;
	width: 						300px;   /* THIS... IS... SPARTAAAAAAAA! */
	margin-left:				-300px;
	height: 					50px;
	padding-top: 				20px;
	padding-bottom: 			20px;
	padding-left: 				25px;
	-moz-box-shadow: 		 	0px 0px 45px #999;
	-webkit-box-shadow: 	 	0px 0px 45px #999;
	border-top-right-radius: 	25px 25px;
	border-bottom-right-radius: 25px 25px;
	background-color: 			#eeeeee;
	-webkit-transition: margin-left 0.3s ease-out;
}

#panel_slider {
	width: 		25px;
	height: 	90px;
	float: 		right;
	margin-top: -20px;
}

#note_icon {
	cursor: 			move;
	height: 			35px;
	padding-top: 		15px;
	font-family:		Verdana;
	font-size:			12px;
	width: 				50px;
	background-color: 	#f0f000;
	-moz-box-shadow: 	0px 0px 45px #999;
	-webkit-box-shadow: 0px 0px 45px #999;
	float: 				left;
	text-align:			center;
}

#settings_panel {
}

#inner_table {
	height: 			100%;
	display: 			-webkit-box;
    -webkit-box-orient: horizontal;
	-webkit-box-align: 	center;
	-webkit-box-pack: 	center;
	-webkit-box-sizing: content-box;
	margin: 			auto;
	/*border: 17px solid lightgrey;
	border-right: 22px solid lightgrey;*/
}

nav {
	width: 			14.3%;
	height: 		100%;
	border-top: 	1px solid darkgrey;
	border-bottom: 	1px solid darkgrey;
}

nav:first-child {
	border-left: 1px solid darkgrey;
}
nav:last-child {
	border-right: 1px solid darkgrey;
}

nav:nth-child(odd) {
	background-color: #eeeef4;
}

/* TO-DO: change hover color and enable on-hover background-color change */

/*nav:nth-child(odd):hover {
	background-color: #ffaaaa;
}
nav:nth-child(even):hover {
	background-color: #ffaaaa;
}*/

nav:nth-child(even) {
	background-color: 	#f4f4f4;
	border-left: 		1px dotted #BCBCBC;
	border-right: 		1px dotted #BCBCBC;
}

.header {
	width: 						100%;
	height: 					12%;
	padding-top: 				6%;
	text-align: 				center;
	background-color: 			#dddddd;
	border-bottom: 				1px dotted #BABABA;
	overflow: 					hidden;
}

nav .header h3 {
	font-family: 	Sans-Serif;
	margin-top: 	0;
	color: 			#777777;
	text-shadow: 	0px 0px 15px #999;
}

.day_content {
	width: 		100%;
	height: 	82%;
	margin-top: 11%;
	overflow-y: auto;
	overflow-x: hidden;
	/*background-color: red;*/
}

.day_content .note {
	width: 				91.5%;	
	padding-left: 		5%;
	padding-right: 		5%;
	padding-top: 		4%;
	padding-bottom: 	4%;
	border-bottom: 		1px dotted #BCBCBC;
	border-top: 		1px dotted #BCBCBC;
	text-align:		 	justify;
	font-family: 		Verdana;
	font-size: 			0.7em;
	color: 				#777777;
	-moz-box-shadow: 	0px 0px 45px #999;
	-webkit-box-shadow: 0px 0px 45px #999;
	margin-bottom: 		4%;
	background-color: 	#f0f000;
}

#current_day {
	background-color: #cfcfcf;
}
