/* [?] My Time Organizer @ Google Apps Hackathon 12.11.2011 (11/12/2011)
 * [+] Authors: 
 * - Dominik Galewski (mug3tsu)
 * - Sebastian Krzyszkowiak (dos)
 * - Krzysztof Marciniak (hun7er)
 * [!] [alphabetical order]
 */

@font-face {
	font-family: "Bebas Neue";
	font-weight: normal;
	src: local("Bebas Neue"), local("BebasNeue"), url('../fonts/BebasNeue.otf');
}

html { height: 100%; }
body {
	-webkit-user-select: none;
	min-width: 850px;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	height: 100%;
	word-wrap: break-word;
	-webkit-transition: background-color 0.5s;
	background-image: url('../images/cien.png');
	background-repeat: repeat-x;
	background-position: 0px 114px;
}
body.dark {
	background-color: #e5e5e5;
}
header {
	min-width: 850px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: white;
	height: 80px;
	-webkit-box-sizing: border-box;
	/*border-bottom: 2px solid #666666;*/
	box-shadow: 0px 6px 10px rgba(255,255,255,0.15);
	padding: 15px;
	text-align: right;
	z-index: 10;
}
body:before {
	z-index: -1;
	position: absolute;
	display: block;
	width: 						100%;
	height: 					114px;
	-webkit-box-sizing: border-box;
	background-color: #bb9216;
	content: "";
	-webkit-transition: background-color 0.5s;
}
body.dark:before {
	background-color: #a88314;	
}
footer {
	color: white;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	min-width: 850px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #bb9216;
	width: 100%;
	height: 22px;
	-webkit-box-sizing: border-box;
	border-top: 1px solid #d6be73;
	box-shadow: 0px -1px 3px #d1d1d1;
	padding: 3px;
	text-align: right;
	z-index: 10;
	font-size: 11px;
	font-family: Sans-Serif;
}
#logo {
	float: left;
	font-size: 0px;
	background-image: url('../images/logo.png');
	background-position: left top;
	background-repeat: no-repeat;
	width: 205px;
	height: 66px;
	margin-left: 10%;
	margin-top: -10px;
	-webkit-transform: translate(-6px,0px);
}
#right_panel {
	margin-right: 10%;
}
#right_panel > div {
	display: inline-block;
	font-family: Sans-Serif;
	font-size: 12px;
	background-image: url('../images/terminator.png');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 1px 100%;
	padding-left: 10px;
	padding-right: 15px;
	margin-top: -5px;
	padding-top: 5px;
	height: 30px;
}

#right_panel > div:last-of-type {
	background-image: none;
	padding-right: 0px;
}

#border_table {
	height: 			100%;
	width: 80%;
	display: 			-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: 	center;
	-webkit-box-pack: 	center;
	-webkit-box-sizing: border-box;
	margin: 			auto;
	overflow: hidden;
	padding-top: 79px;
	padding-bottom: 19px;
} 

#inner_table_full {
	height: 			100%;
	width: 100%;
	display: 			-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: 	center;
	-webkit-box-pack: 	center;
        -webkit-box-sizing: border-box;
	
	/*border: 17px solid lightgrey;
	border-right: 22px solid lightgrey;*/
}

#inner_table_left {
	height: 			100%;
	width: 				100%;
	display: 			-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: 	center;
	-webkit-box-pack: 	center;
	margin-left: -100%;
	-webkit-transition: all 0.5s ease-out;
}

#inner_table_center {
	height: 			100%;
	width: 				100%;
	display: 			-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: 	center;
	-webkit-box-pack: 	center;
	-webkit-transition: all 0.5s ease-out;
}

#inner_table_right {
	height: 			100%;
	width: 				100%;
	display: 			-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: 	center;
	-webkit-box-pack: 	center;
	margin-left: 0%;
	-webkit-transition: all 0.5s ease-out;
}

#inner_table_left_temp {
	height: 			100%;
	width: 				100%;
	display: 			-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: 	center;
	-webkit-box-pack: 	center;
}

#inner_table_right_temp {
	height: 			100%;
	width: 				100%;
	display: 			-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: 	center;
	-webkit-box-pack: 	center;
}

nav {
	/*border-top: 1px solid darkgrey;
	border-bottom: 1px solid darkgrey;*/
	width: 			14.3%;
        -webkit-box-sizing: border-box;
	height: 		100%;
	/*box-shadow: inset 0px 0px 8px rgba(255,255,255,0.6);*/
	/*border-right: 1px solid #a6a6a6;*/
}

/*nav:first-child {
	border-left: 1px solid darkgrey;
}
nav:last-child {
	border-right: none; /*1px solid darkgrey;*/


nav:nth-of-type(odd), #inner_table_center nav:nth-of-type(even)  {
	background-color: #f5f5f5;
}

nav:nth-of-type(even), #inner_table_center nav:nth-of-type(odd)  {
	background-color: #e5e5e5;
}

/* TO-DO: change hover color and enable on-hover background-color change */

/*nav:nth-child(odd):hover {
	background-color: #ffaaaa;
}
nav:nth-child(even):hover {
	background-color: #ffaaaa;
}*/

.header {
	width: 						100%;
	height: 					35px;
	padding-top: 				11px;
	-webkit-box-sizing: border-box;
	text-align: 				center;
	position: relative;
}

nav:nth-of-type(even) .header, #inner_table_center nav:nth-of-type(odd) .header {
	background-color: #a88314;
}

nav:nth-of-type(odd) .header, #inner_table_center nav:nth-of-type(even) .header {
	background-color: #bb9216;
}

.header:after {
	content: attr(data-date);
	display: block;
	font-family: "Sans-Serif";
	background-color: rgba(250,250,250,0.9);
	width: auto;
	position: absolute;
	right: 4px;
	top: 35px;
	font-size: 12px;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
	z-index: 1;
}

nav .header h3 {
	margin-top: 	0;
	color: 	white;
	text-transform: uppercase;
	text-shadow: 	0px 0px 3px rgba(0,0,0,0.3);
	font-size: 18px;
	font-family: "Bebas Neue", "Sans-Serif";
	opacity: 0.92;
}

.day_content {
	width: 		100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 6px;
	-webkit-box-sizing: border-box;
	-webkit-transition: background-color 0.25s, opacity 0.25s;
	background-image: url('../images/cien.png');
	background-repeat: repeat-x;
}

.note {
	width: 				100%;
	-webkit-box-sizing: border-box;
	/*padding-left: 		5%;
	padding-right: 		5%;
	padding-top: 		4%;
	padding-bottom: 	4%;*/
	padding: 7px;
	/*border: 		1px solid #BCBCBC;*/
	text-align:		 	justify;
	font-family: 		Verdana;
	font-size: 			0.7em;
	color: 				#333333;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	margin-top: 17px;
	background-color: 	attr(data-bgcolor, color); /*#e1e1e1;*/
	-webkit-user-select: text;
	-webkit-transition: background-color 0.5s, opacity 0.25s;
	background-image: url('../images/note_pasek.png');
	background-repeat: repeat-y;
	background-size: 100% 3px;
	position: relative;
}
.note:before {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	-webkit-box-sizing: border-box;
	content: "";
	background-image: url('../images/note_bg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -1;
}
.note:before {
	top: 0px;
}
.note:after {
	bottom: 0px;
}

.day_content .note .note_content {
	min-height: 1em;
}

.menu {
	display: block;
	width: 100%;
	height: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all 0.25s ease-out;
	-webkit-user-select: none;
	/*background-color: #FF0000;*/
}

.note:hover .menu, .note[data-editedNow=true] .menu, .note[data-whileInColorPicker=true] .menu {
	-webkit-transition: height 0.25s ease-out, opacity 0.25s ease-out;
	height: 16px;
	margin-top: 5px;
	margin-bottom: -3px;
	opacity: 1;
}

.menu img {
	cursor: pointer;
	-webkit-transition: opacity 0.25s;
}

.menu img:hover {
	opacity: 0.75;
}

nav .header#current_day {
	/*background-image: url('../images/cur_day.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;*/
	padding-top: 8px;
}
nav .header#current_day:after {
	font-weight: bold;
}
nav .header#current_day h3 {
	font-size: 22px;
	padding-top: 2px;
	opacity: 0.98;
}

div[contenteditable=true] {
	outline: 1px dotted #ccc;
	background-color: rgba(255,255,255,0.5);
}

#add_panel div {
	cursor: 			move;
	height: 			20px;
	padding: 5px;
	padding-top: 10px;
	margin-top: -5px;
	font-family:		Verdana;
	font-size:			12px;
	width: 				auto;
	box-shadow: 0px 0px 10px #bbb;
	text-align:			center;
	margin-right: 		15px;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.5s;
}

#add_panel div:last-of-type {
	margin-right: 0px;
}

#add_panel div[draggable=false] {
	opacity: 0.4;
}

#note_icon {
	background-color:       #f0f000;
	color:				#333333;
}

#event_icon {
	background-color: 	#e00000;
	color: white;
}

#task_icon {
	background-color:	#00e000;
	color: white;
}



.day_content::-webkit-scrollbar {
	position: absolute;
	width: 3px;
	background-color: transparent;
}
.day_content::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}
.helper, .helperSmall {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 20px;
	font-family: Sans-Serif;
	font-size: 12px;
	text-align: justify;
	-webkit-box-sizing: border-box;
	-webkit-transform: translate(-200px,-50px);
	color: white;
	background-color: rgba(0,0,0,0.75);
	border-radius: 10px;
	box-shadow: inset 0px 0px 3px white, 1px 1px 5px rgba(0,0,0,0.4);
}

.helperSmall {
	padding: 10px;
	font-size: 10px;
	-webkit-transform: none;
}

.lolxd {
	cursor:pointer;
	margin:auto;
	/*margin:15px;*/
	margin-left: 5px;
	color:transparent;
	background-color:transparent;
	border: 0px;
	width:16px;
	-webkit-transform: translate(0px, -3px);
}