/* [?] My Time Organizer @ Google Apps Hackathon 12.11.2011 (11/12/2011)
 * [+] Authors: 
 * - Dominik Galewski (mug3tsu)
 * - Sebastian Krzyszkowiak (dos)
 * - Krzysztof Marciniak (hun7er)
 * [!] [alphabetical order]
 */

html { height: 100%; }
body {
	-webkit-user-select: none;
	min-width: 850px;
	background-color: #FAFAFA;
	margin: 0;
	padding: 0;
	height: 100%;
	word-wrap: break-word;
}
#header {
	min-width: 850px;
	position: absolute;
	background-image: url('../images/header.png');
	background-position: left top;
	background-repeat: no-repeat;
	top: 0px;
	left: 0px;
	background-color: #F1F1F1;
	width: 100%;
	height: 55px;
	-webkit-box-sizing: border-box;
	border-bottom: 2px solid #666666;
	box-shadow: 0px 1px 3px #d1d1d1;
	padding: 15px;
	text-align: right;
	z-index: 10;
}
#footer {
	min-width: 850px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #E1E1E1;
	width: 100%;
	height: 20px;
	-webkit-box-sizing: border-box;
	border-top: 1px solid #666666;
	box-shadow: 0px -1px 3px #d1d1d1;
	padding: 4px;
	text-align: right;
	z-index: 10;
	font-size: 10px;
	font-family: "Sans";
}
#logo {
	font-size: 18px;
	font-family: "Sans";
	color: #666666;
	float: left;
	padding-left: 50px;
	padding-top: 12px;
}
#right_panel > div {
	display: inline-block;
	font-family: "Sans";
	background-image: url('../images/terminator.png');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 1px 100%;
	padding-left: 10px;
	padding-right: 15px;
	margin-top: -5px;
	padding-top: 5px;
	height: 30px;
}

#right_panel > div:last-of-type {
	background-image: none;
	padding-right: 0px;
}

#border_table {
	height: 			100%;
	width: 100%;
	display: 			-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: 	center;
	-webkit-box-pack: 	center;
	-webkit-box-sizing: border-box;
	margin: 			auto;
	overflow: hidden;
	padding-top: 54px;
	padding-bottom: 19px;
} 

#inner_table {
	height: 			100%;
	width: 100%;
	display: 			-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: 	center;
	-webkit-box-pack: 	center;
        -webkit-box-sizing: border-box;
	-webkit-transition: all 0.75s ease-out;
	
	/*border: 17px solid lightgrey;
	border-right: 22px solid lightgrey;*/
}

nav {
	border-top: 1px solid darkgrey;
	border-bottom: 1px solid darkgrey;
	width: 			14.3%;
        -webkit-box-sizing: border-box;
	height: 		100%;
	border-right: 1px solid #a6a6a6;
}

/*nav:first-child {
	border-left: 1px solid darkgrey;
}
nav:last-child {
	border-right: none; /*1px solid darkgrey;*/


nav:nth-of-type(odd) .day_content {
	background-color: #FAFAFA;
}

nav:nth-of-type(even) .day_content {
	background-color: rgba(245,245,245,0.5);
}

/* TO-DO: change hover color and enable on-hover background-color change */

/*nav:nth-child(odd):hover {
	background-color: #ffaaaa;
}
nav:nth-child(even):hover {
	background-color: #ffaaaa;
}*/

nav:nth-child(odd) {
	/*background-color: 	#eeeef4;*/
/*	border-left: 		1px dotted #BCBCBC;
	border-right: 		1px dotted #BCBCBC;*/
}

.header {
	width: 						100%;
	height: 					60px;
	padding-top: 				10px;
	text-align: 				center;
	background-color: 			#f0f0f0;
	border-bottom: 				1px solid #a6a6a6;
}

nav .header h3 {
	font-family: 	Sans-Serif;
	margin-top: 	0;
	color: 			#666666;
	/*text-shadow: 	0px 0px 15px #999;*/
}

.day_content {
	width: 		100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 10px;
	-webkit-transition: background-color 0.25s, opacity 0.25s;
}

.day_content .note {
	width: 				100%;
	-webkit-box-sizing: border-box;
	padding-left: 		5%;
	padding-right: 		5%;
	padding-top: 		4%;
	padding-bottom: 	4%;
	border-top: 		1px solid #BCBCBC;
	border-bottom: 		1px solid #BCBCBC;
	text-align:		 	justify;
	font-family: 		Verdana;
	font-size: 			0.7em;
	color: 				#333333;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.18);
	margin-bottom: 		4%;
	background-color: 	#f0f000;
	-webkit-user-select: text;
	-webkit-transition: background-color 0.75s, color 0.2s, opacity 0.25s;
	background-image: url('../images/notka_cien.png');
	background-repeat: no-repeat;
	background-position: bottom left;
}

.day_content .note .note_content {
	min-height: 1em;
}

.menu {
	display: block;
	width: 100%;
	height: 0px;
	margin-top: 5px;
	margin-bottom: -3px;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all 0.25s ease-out;
	-webkit-user-select: none;
	/*background-color: #FF0000;*/
}

.note:hover .menu, .note[data-editedNow=true] .menu, .note[data-whileInColorPicker=true] .menu {
	height: 16px;
	opacity: 1;
}

.menu img {
	cursor: pointer;
	-webkit-transition: opacity 0.25s;
}

.menu img:hover {
	opacity: 0.75;
}

nav .header#current_day {
	background-image: url('../images/cur_day.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

div[contenteditable=true] {
	outline: 1px dotted #ccc;
	background-color: rgba(255,255,255,0.3);
}

#add_panel div {
	cursor: 			move;
	height: 			20px;
	padding: 5px;
	padding-top: 10px;
	margin-top: -5px;
	font-family:		Verdana;
	font-size:			12px;
	width: 				auto;
	box-shadow: 0px 0px 10px #bbb;
	text-align:			center;
	margin-right: 		15px;
	display: inline-block;
}

#add_panel div:last-of-type {
	margin-right: 0px;
}

#add_panel div[draggable=false] {
	opacity: 0.4;
}

#note_icon {
	background-color:       #f0f000;
	color:				#333333;
}

#event_icon {
	background-color: 	#e00000;
	color: white;
}

#task_icon {
	background-color:	#00e000;
	color: white;
}
.day_content::-webkit-scrollbar {
	position: absolute;
	width: 3px;
	background-color: transparent;
}
.day_content::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}