#tutorialHighlight {
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	z-index: 99999;
	pointer-events: none;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 59%,rgba(0,0,0,0.45) 70%,rgba(0,0,0,0.45) 100%);
	overflow-x: visible !important;
	overflow-y: visible !important;
}
#tutorialHighlight::before, #tutorialHighlight::after {
	pointer-events: auto;
	position: absolute;
	background-color: rgba(0,0,0,0.45);
	width: 99999px;
	height: 100%;
	right: 100%;
	content: "";
}
#tutorialHighlight::after {
	left: 100%;
}
#tutorialHighlight > .hack::before, #tutorialHighlight > .hack::after {
	pointer-events: auto;
	position: absolute;
	background-color: rgba(0,0,0,0.45);
	width: 99999px;
	height: 99999px;
	left: -55555px;
	bottom: 100%;
	content: "";	
}
#tutorialHighlight > .hack::after {
	top: 100%;
}